In [39]:
import pandas as pd
# pd.set_option('max_rows', 5)
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [48]:
# df=pd.read_csv("testdata.csv",parse_dates=['day'],index_col='temperature')
df=pd.read_csv("testdata.csv",index_col='day')
df=df.iloc[:,:2]
print(df)
# plt.figure(figsize=(12,6))
# sns.lineplot(data=df[['temperature','wind']])
# sns.lineplot(data=df)
# df[['temperature','wind']].plot(kind="line")
# df.boxplot(column=['temperature'])
abc=df.corr()
abc

           temperature  wind
day
1/1/2019            32     6
1/2/2019            35     7
...                ...   ...
1/9/2019            33     2
1/10/2019           34     4

[10 rows x 2 columns]

             temperature      wind
temperature     1.000000  0.213824
wind            0.213824  1.000000

In [48]:
df[['temperature','wind']].describe()

       temperature   wind
count    10.000000  10.00
mean     33.500000   4.00
std      17.148048   2.00
min      12.000000   1.00
25%      24.500000   2.25
50%      33.000000   4.00
75%      34.750000   5.75
max      67.000000   7.00

In [59]:
df[['day','temperature','wind']][df.temperature==df['temperature'].max()]

        day  temperature  wind
4  1/5/2019           67     3

In [82]:
df=pd.read_excel("testExcel.xlsx","Sheet1")
df

         day  temperature  wind  event
0 2019-01-01           32     6   rain
1 2019-01-02           35     7   rain
2 2019-01-03           33     2  sunny
3 2019-01-04           12     4   snow
4 2019-01-05           67     3  sunny
5 2019-01-06           55     6   rain
6 2019-01-07           22     5   rain
7 2019-01-08           12     1  sunny
8 2019-01-09           33     2  sunny
9 2019-01-10           34     4   snow

In [92]:
dic=[{'day':1,'count':10},{'day':2,'count':20},{'day':3,'count':30},{'day':4,'sum':10}]
df=pd.DataFrame(dic)
df.fillna(0,inplace=True)
df

   day  count   sum
0    1   10.0   0.0
1    2   20.0   0.0
2    3   30.0   0.0
3    4    0.0  10.0

In [100]:
def tarun(ar1,ar2):
    print(ar1)
    print(ar2)
tarun(ar2=2,ar1=111)

111
2